@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --cell-size: 100px;
    --mark-sze: calc(var(--cell-size) * .9);
    --background-color: white;
    --mark-color: black;
    --mark-hover-color: lightgray;
    --text-color: black;
    --link-hover-color: orange;
}

:root.dark-theme {
    --background-color: #2D033B;
    --mark-color: #E5B8F4;
    --mark-hover-color: #810CA8;
    --mark-hover-color: #C060A1;
    --text-color: #C060A1;
    --link-hover-color: #C060A1;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--mark-color);
}

.landscape-orientation-message-container {
    display: none;
}

.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-header,
.game-footer {
    width: 100%;
    padding: 1rem 2rem;
}

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.theme-switcher-btn {
    border: 1px solid var(--mark-color);
    border-radius: 50%;
    --switcher-btn-size: 40px;
    width: var(--switcher-btn-size);
    height: var(--switcher-btn-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}

.theme-switcher-btn:hover {
    background-color: var(--mark-color);
}

.theme-switcher-btn:hover path {
    fill: var(--background-color);
}

.theme-switcher-btn__icon-light path,
.theme-switcher-btn__icon-dark path {
    fill: var(--mark-color);
}

.theme-switcher-btn__icon-light {
    display: none;
}

.theme-switcher-btn__icon-dark {}

.game-header>h1 {
    margin: 0;
}

.game-board {
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    align-content: center;
    place-content: center;
    place-items: center;
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--mark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(3n +3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: var(--mark-color);
}

.game-board.x .cell:not(.x):not(.circle):hover::before,
.game-board.x .cell:not(.x):not(.circle):hover::after,
.game-board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: var(--mark-hover-color);
}


.cell.x,
.cell.circle {
    cursor: not-allowed;
    /* pointer-events: none; */
}

.cell.x::before,
.cell.x::after,
.game-board.x .cell:not(.ax):not(.circle):hover::before,
.game-board.x .cell:not(.ax):not(.circle):hover::after {
    content: '';
    position: absolute;
    height: var(--mark-sze);
    width: calc(var(--mark-sze) * .15);
}

.cell.x::before,
.game-board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.game-board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.game-board.circle .cell:not(.x):not(.circle):hover::before,
.game-board.circle .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.cell.circle::before,
.game-board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-sze);
    height: var(--mark-sze);
    /* background-color: rebeccapurple; */
}

.cell.circle::after,
.game-board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-sze) * .7);
    height: calc(var(--mark-sze) * .7);
    background-color: var(--background-color);
}

.game-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-footer {
    font-size: 1.5em;
}

.game-footer_link {
    /* text-decoration */
    text-underline-offset: .25em;
    color: inherit;
}

.game-footer_link:hover {
    color: var(--link-hover-color);
}

.winning-message-overlay-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .9);
    /* promijenicemo ovu boju posle mozda */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 5rem;
    color: var(--text-color);
}

.winning-message-overlay-container.showing {
    display: flex;
}

.restart-btn {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 1px solid var(--mark-color);
    background-color: var(--background-color);
    color: var(--mark-color);
    cursor: pointer;
}

.restart-btn:hover {
    background-color: var(--mark-color);
    color: var(--background-color);
    border-color: var(--background-color);
}

@media screen and (min-width: 480px) {
    :root {
        --cell-size: 150px;
    }
}

@media screen and (min-width: 680px) {
    :root {
        --cell-size: 200px;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    .landscape-orientation-message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        inset: 0;
        background-color: var(--background-color);
        z-index: 2;
    }

    .landscape-orientation-message {
        font-size: 2rem;
        color: var(--mark-color);
    }
}